[submodule "projects/home"]
	path = projects/home
	url = git@github.com:mkrawiec/copr-project-home.git
	branch = master
    ignore = dirty
[submodule "projects/infinality-bundle"]
	path = projects/infinality-bundle
	url = git@github.com:mkrawiec/copr-project-infinality-bundle.git
	branch = master
    ignore = dirty
[submodule "projects/neovim"]
	path = projects/neovim
	url = git@github.com:mkrawiec/copr-project-neovim.git
	branch = master
    ignore = dirty
